parameters:
	database:
		server: localhost
		database: iptv
		username: root
		password: bl4ckHaUs3

php:
	date.timezone: Europe/Prague

tracy:
	maxLength: 10000

database:
	dsn: 'mysql:host=%database.server%;dbname=%database.database%'
	user: %database.username%
	password: %database.password%
	options: [PDO::MYSQL_ATTR_COMPRESS = true, PDO::ATTR_TIMEOUT = 10]
	debugger: true         # panel v debugger baru
	explain: true          # explain dotazu v debugger bar
	reflection: discovered # nebo conventional nebo classname, vychozi je discovered
	autowired: true

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

services:
	router: App\RouterFactory::createRouter

	- App\Repository
	- App\FrontendModule\Repository\Users
	- App\FrontendModule\Repository\Services
	- App\FrontendModule\Repository\Channels
	- App\FrontendModule\Repository\Channelpackages
	- App\FrontendModule\Repository\Channelpackagechannels
